<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Barberia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <mat-slider min="10" max="50" step="0.5">
    <input matSliderThumb value="1.5">
  </mat-slider>

</ion-content>
<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Barberia</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <strong>Ready to create an app?</strong>
  <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
</div> -->