<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Barberia
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">
        <ion-icon slot="icon-only" name="log-in-sharp" ion-text="Login"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">Presiona el menu de tu izquierda</ion-content>
</ion-content>
<!-- <ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Barberia</ion-title>
  </ion-toolbar>
</ion-header>
